# deltarune folder is left in src so ignoring everything except relevant files
/src/*
!/src/*.csx
!/src/mod
!/src/ump-config.json
!/src/*.json
!/src/assembly

# ignoring all build scripts except templates
/build_scripts/*
!/build_scripts/build-template.bat
!/build_scripts/build.py

# build files
/dist